@font-face {
    font-family: "Shabnam";
    src: url("../fonts/Shabnam.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "B Koodak";
    src: url("../fonts/BKoodakBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("../fonts/Vazirmatn-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Vazirmatn-med";
    src: url("../fonts/Vazirmatn-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Vazirmatn B";
    src: url("../fonts/Vazirmatn-Bold.ttf") format("truetype");
    font-display: swap;
}



