:root {
  /* ========= Colors ========= */
  --color-primary: #f5ca72;
  --color-primary-hover: #f5d89d;

  --bg-main: #f1e8de;
  --bg-content: #f6f3ee;
  --bg-cards: #f8f4f0;
  --bg-counter-box: #aeadac;
  --bg-rate-box: #ece3d6;
  --bg-zodiac-circle: #c69b5a;

  --txt-white: #fff;
  --txt-black: #000;
  --txt-menu-hover-gold: #f5ca72;
  --txt-titles: #040a20;
  --txt-person-detail-title: #c69b5a;
  --txt-person-detail: #1f232e;
  --txt-zodiac-icons: #312b24;
  --txt-searchbox: #d9cab4;
  --txt-rate-title: #822402;
  --txt-rate: #8c6a3c;

  --line-color-home-card:#E5E5E5;
  --line-color: #312b24;

  --stroke-searchbox-svg: #cfbfa8;
  --stroke-searchbox: #ece3d6;
  --stroke-person-image: #caa56a;

  --btn-arrow-person-show: #e7d6be;

  /* ========= Fonts ========= */
  --font-en: "Poppins";
  --font-primary: "Vazirmatn", sans-serif;
  --font-heading: "Vazirmatn-med", sans-serif;
  --font-heading2: "Vazirmatn B", sans-serif;
  --font-koodak: "B Koodak", cursive;
  --font-shabnam: "Shabnam", sans-serif;
  --font-sanserif : sans-serif;

  /* ========= Radius ========= */
  --radius-md: 10px;
  --radius-lg: 30px;

  /* ========= Shadow ========= */
  --shadow-sm: 0px 2px 6px rgba(0, 0, 0, 0.3);
  --shadow-md: 0px 5px 7px rgba(0, 0, 0, 0.4);
  --glow-sm: 0px 2px 6px rgba(252, 186, 7, 0.08);
  --glow-md: 0px 8px 20px rgba(252, 186, 7, 0.12);

  /* ========= Transition ========= */
  --transition: 0.25s ease;


/* ==================================================
   HOME PAGE
================================================== */

/* ---------- Hero ---------- */
--home-logo-size: 115px;
--home-header-padding-top: 30px;
--home-header-gap: 18px;


/* ---------- Cards ---------- */
--home-card-columns: 4;
--home-card-width: 230px;
--home-card-height: 295px;
--home-card-image-height: 160px;
--home-card-gap: 20px;
--home-card-radius: var(--radius-md);
--home-card-image-radius: var(--radius-md) var(--radius-md) 0 0;
--home-card-title-size: 22px;
--home-card-link-size: 16px;
--home-card-link-color: #678FB1;
--home-card-link-color-hover: #26435c;
--home-card-content-padding: 0px 2px 20px;
--home-card-divider-width: 100%;
--home-card-divider-height: 2px;
--home-card-divider-margin: 16px 0 5px;
--home-card-padding: 5px;

--home-login-margin-bottom: 10px;


/* ---------- Layout ---------- */
--home-cards-margin-top: 20px;
--home-cards-padding-inline: 70px;
--home-layout-padding-top: 15px;
--home-layout-padding-bottom: 48px;
}

