/* Cstegory | Create */
.app-content {
    /* padding-inline: 2rem; */
}

/* Product | index */
.btn-action-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    /* border: 1px solid red; */
}

.flex-row-gap5{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

.color-red{
    color: brown;
}

.color-blue{
    color: rgb(61, 112, 206);
}

.my-table th{
    /* border: 1px solid darkslategray;
    color: white;
    background-color: rgb(80, 113, 151); */
    /* background-color: rgb(72, 101, 184); */
}
