.home-header {
    width: 100%;

    display: flex;
    justify-content: center;

    padding-top: 5px;
    /* border: 1px solid orange; */
}

.home-header__logo {
    display: flex;
    justify-content: center;
}
.home-logo{
    width:var(--home-logo-size);
}