.hero-home-header {
    width: 100%;

    display: flex;
    justify-content: center;

    padding-top: 5px;
    margin-top: 20px;
}

.hero-home-header__logo {
    display: flex;
    justify-content: center;
}
