.person-detail {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 5px;
}

.person-detail__not-found {
  direction: rtl;
  margin: 50px 0;
  text-align: center;
  color: var(--txt-rate);
  font-size: 18px;
}

.person-detail-loading {
  direction: rtl;
  text-align: center;
  padding: 30px 0;
  color: var(--txt-rate);
}

.red-b {
  border: 2px solid red;
}
