.header {
  width: 100%;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 3px;
  padding-inline: 30px;
}


.header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0;
}


.header__actions {
  display: flex;
  align-items: center;
}


/* Hamburger */

.header__menu {
  display: none;

  background: transparent;
  border: none;

  font-size: 28px;
  color: var(--color-primary);

  cursor: pointer;
}


/* Mobile menu */

.header__mobile-menu {
  display: none;
}