.header-nav {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: 48px;
  /* border: 1px solid red; */
}

.header-nav__link {
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--font-heading);
  border-bottom: 3px solid transparent;
  transition: var(--transition);
}

.header-nav__link:hover {
  color: var(--color-primary-hover);
  border-bottom: 3px solid var(--color-primary-hover);
  position: relative; 
}
