.home-cards-section {
  width: 100%;
  margin-top: var(--home-cards-margin-top);
  /* border: 2px solid pink;  */
}

.home-cards-container {
  width: fit-content;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.home-cards-section__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--home-login-margin-bottom);
  /* border: 2px solid palegreen; */
}

.home-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(
    var(--home-card-columns),
    var(--home-card-width)
  );
  gap: var(--home-card-gap);
  /* border: 2px solid green; */
}
