.login-button {
  display: inline-flex;
  align-items: center;

  padding: 0;

  border: none;
  background: transparent;

  color: var(--color-primary);
  font-size: 15px;
  font-family: var(--font-primary);

  cursor: pointer;
  transition: var(--transition);
}

.login-button:hover {
  color: var(--color-primary-hover);
}

.login-button__content {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.login-button__icon {
  font-size: 20px;
}

@media (max-width: 576px) {
  .login-button__label {
    display: none;
  }

  .login-button__icon {
    font-size: 20px;
  }
}