.home-page{
    width:100%;
    min-height:100vh;
    position:relative;

    background:
        radial-gradient(
            circle at top,
            #18284a 0%,
            #0c1430 35%,
            #050816 70%,
            #010204 100%
        );
}